body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: black; 
    color: white;
}



    

nav{
    background-color: rgba(126, 117, 204, 0.689);
    padding: 10px 0px 25px 5px;
    border-radius: 20px;
    margin: 20px 50px;
    box-shadow: 0px 0px 45px #a698c1a7;
    
}
nav p{
    padding: 0px;
    margin: 0px;
    border: 0px;
    
}


.container{
    display: flex;
   
  

}

.maincontent{
    background-color: rgba(126, 117, 204, 0.432);
    align-content: top;
    margin: 20px 50px;
    width: 80%;
    border-radius: 20px;
    padding: 10px 20px 50px;
background: #536fed;
background: linear-gradient(175deg,rgba(83, 111, 237, 1) 0%, rgba(108, 87, 199, 1) 64%);
box-shadow: 0px 0px 45px #a698c1a7;
}

.playerCount{
    background-color: rgba(126, 117, 204, 0.432);
    margin: 50px;
    width: 80%;
    border-radius: 20px;
    padding: 10px 20px 50px;
background: #536fed;
background: linear-gradient(175deg,rgba(83, 111, 237, 1) 0%, rgba(108, 87, 199, 1) 64%);
box-shadow: 0px 0px 45px #a698c1a7;
}

@media screen and (max-width: 750px) {
  /* Styles for small screens */
  .container{
    flex-direction: column;
    background-color: black;  
  }

  .maincontent{
    width: 80%;
  }

 .playerCountmaincontent{
    width: 80%;
  }
}





